
/*************Layout***************/

.video-container {
	width: 100%;
	max-width: 900px;
}

p {
	padding-left: 1.8em;
	padding-right: 1.8em;
	line-height: 1.5;
}

/*************Components***************/

.highlighted {
	color: #f48f41;
}

.mejs__player .mejs__controls {
	background-color: #f46b41;
}

/*Media Queries*/

@media (min-width: 768px) {
  p {
	padding-left: initial;
	padding-right: initial;
	line-height: 2;
  }

  .container {
  	width: 70%;
  	margin: 0 auto;
  	max-width: 900px;
  }
}